<form name="joinForm" ng-submit="vm.confirmJoin(vm.grupo.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="entity.join.title">Confirm join operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p data-translate="aondevamosApp.grupo.join.question" translate-values="{nome: '{{vm.grupo.nome}}'}">Are you sure you want to join in this Grupo?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="joinForm.$invalid" class="btn btn-success">
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;<span data-translate="entity.action.join">Join</span>
        </button>
    </div>
</form>
