<div ng-cloak>
    
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
        
        <div ng-switch="vm.isAuthenticated()">
            <!--<div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                You are logged in as user "{{vm.account.login}}".
            </div>-->

            <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
            </div>

            <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
            </div>
        </div>
        
        <div class="row">

            <div class="col-md-6">
                <h1 data-translate="home.title"></h1>
                <p class="lead" data-translate="home.subtitle"></p>

                <jhi-alert></jhi-alert>
                <jhi-alert-error></jhi-alert-error>

                <div class="panel panel-default" ng-hide="vm.isAuthenticated()">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-translate="aondevamosApp.voto.titleIntro"></h3>
                    </div>
                    <div class="panel-body" data-translate="aondevamosApp.voto.textIntro"></div>
                </div>
                
                <div class="panel panel-default" ng-show="vm.isAuthenticated()">
                    <div class="panel-heading">
                        
                        Dashboard
                    
                        <select style="float: right;" ng-change="vm.updateBoard();" ng-hide="vm.grupo == null" id="field_grupo" name="grupo" ng-model="vm .grupo" ng-options="grupo as grupo.nome for grupo in vm.grupos track by grupo.id" required>
                            <option value="" disabled selected data-translate="aondevamosApp.voto.grupo"></option>
                        </select>
                        
                    </div>
                    
                    <div ng-show="vm.grupo == null" class="panel-body">
                        <span data-translate="aondevamosApp.voto.chooseYourTeam"></span>
                        
                        <select id="field_grupo" style="margin-left: 10px;" name="grupo" ng-change="vm.updateBoard();" ng-model="vm.grupo" ng-options="grupo as grupo.nome for grupo in vm.grupos track by grupo.id" required>
                            <option value="" disabled selected data-translate="aondevamosApp.voto.grupo"></option>
                        </select>
                    </div>
                        
                    <div ng-hide="vm.grupo == null" class="panel-body">
                    
                        <p>Escolha de hoje: <span class="label label-default">{{vm.grupo.ranking[0].placeName}}</span></p>
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><span data-translate="">Restaurante</span></th>
                                    <th><span data-translate="">Votos</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="voto in vm.grupo.ranking">
                                    <td>{{voto.placeName}}</td>
                                    <td>{{voto.quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>

            </div>

            <div class="col-md-6">

                <!--p>{{vm.photos}}</p>

                <img ng-repeat="photo in vm.photos" ng-src="{{photo}}" alt="Local"/-->

                <style type="text/css">
                    #map { 
                        height: 400px;
                        background: url(content/images/powered_by_google_on_white_hdpi.png) center center;
                        background-size: 12em;
                        background-color: #fafafa;
                        background-repeat: no-repeat;
                    }
                    .controls {
                        margin-top: 10px;
                        border: 1px solid transparent;
                        border-radius: 2px 0 0 2px;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        height: 30px;
                        outline: none;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                    }

                    #pac-input {
                        background-color: #fff;
                        font-family: Roboto;
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 12px;
                        padding: 0 11px 0 13px;
                        text-overflow: ellipsis;
                        width: 300px;
                    }

                    #pac-input:focus {
                        border-color: #4d90fe;
                    }

                    .pac-container {
                        font-family: Roboto;
                    }

                    #type-selector {
                        color: #fff;
                        background-color: #4d90fe;
                        padding: 5px 11px 0px 11px;
                    }

                    #type-selector label {
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 300;
                    }

                  </style>

                <input id="pac-input" ng-hide="vm.loadingMap" class="controls" type="text" placeholder="Buscar">
                  
                <div id="map"></div>

            </div>

        </div>
        
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
               
            </div>
        </div>
        
    </form>
</div>
