<div>
    <h2 data-translate="aondevamosApp.voto.home.title">Votos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="voto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aondevamosApp.voto.home.createLabel">
                        Create new Voto
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataVoto"><span data-translate="aondevamosApp.voto.dataVoto">Data Voto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.firstName"><span data-translate="aondevamosApp.voto.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="restaurante.nome"><span data-translate="aondevamosApp.voto.restaurante">Restaurante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="voto in vm.votos track by voto.id">
                    <td><a ui-sref="voto-detail({id:voto.id})">{{voto.id}}</a></td>
                        <td>{{voto.dataVoto | date:'mediumDate'}}</td>
                    <td>
                        {{voto.user.firstName}}
                    </td>
                    <td>
                        <a ui-sref="restaurante-detail({id:voto.restaurante.id})">{{voto.restaurante.nome}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="voto-detail({id:voto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="voto.edit({id:voto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="voto.delete({id:voto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
