
<div>
    <h2><span data-translate="aondevamosApp.voto.detail.title">Voto</span> {{vm.voto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="aondevamosApp.voto.dataVoto">Data Voto</span></dt>
        <dd>
            <span>{{vm.voto.dataVoto | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="aondevamosApp.voto.user">User</span></dt>
        <dd>
            {{vm.voto.user.firstName}}
        </dd>
        <dt><span data-translate="aondevamosApp.voto.restaurante">Restaurante</span></dt>
        <dd>
            <a ui-sref="restaurante-detail({id:vm.voto.restaurante.id})">{{vm.voto.restaurante.nome}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="voto-detail.edit({id:vm.voto.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
