
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myVotoLabel" data-translate="aondevamosApp.voto.home.createOrEditLabel">Create or edit a Voto</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.voto.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.voto.id" readonly />
        </div>
        <div class="form-group">
            <label data-translate="aondevamosApp.voto.grupo" for="field_grupo">Grupo</label>
            <select class="form-control" id="field_grupo" name="user" ng-model="vm.voto.grupo" ng-options="grupo as grupo.nome for grupo in vm.grupos track by grupo.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.grupo.$invalid">
            <p class="help-block"
                ng-show="editForm.grupo.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>

        <div class="form-group">
            <label data-translate="aondevamosApp.voto.restaurante" for="field_restaurante">Restaurante</label>
            <select class="form-control" id="field_restaurante" name="restaurante" ng-model="vm.voto.restaurante" ng-options="restaurante as restaurante.nome for restaurante in vm.restaurantes track by restaurante.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.restaurante.$invalid">
            <p class="help-block"
                ng-show="editForm.restaurante.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
